/*cellframe.css*/
.rigs-source-highlight {
    box-shadow: 0px 0px 5px 5px darkorange;
    border-radius: 8px;
    z-index: 1;
}

.rigs-target-highlight {
    box-shadow: 0 0 0 6px black;
    border-radius: 8px;
    opacity: 0.3;
    z-index: 1;
}

.rigs-dropped-highlight {
    box-shadow: 0 0 3px 6px green;
    border-radius: 8px;
    z-index: 1;
    transition: box-shadow 2s ease-in-out;
}
