/*rigs.css*/
.rigs-source-highlight {
    box-shadow: 0px 0px 6px 6px darkorange;
    border-radius: 8px;
    z-index: 1;
}

.rigs-target-highlight {
    box-shadow: 0 0 0 6px black;
    border-radius: 8px;
    opacity: 0.3;
    z-index: 1;
}

.rigs-dropped-highlight {

    border-radius: 8px;
    z-index: 1;
    animation: rigs-gradual-release 1s /*linear 0.05s*/;
}

@keyframes rigs-gradual-release {

    20% {box-shadow: 0 0 6px 6px darkorange;}

    50% {box-shadow: 0 0 6px 6px transparent}

}

.rigs-target-finish {
    border-radius: 8px;
    z-index: 1;
    animation: rigs-target-fade .5s;
}

@keyframes rigs-target-fade {

    0%  { 
        box-shadow: 0 0 0 6px black;
        opacity: 0.3;
    }

    100% {
        box-shadow: 0 0 0 0 transparent;
        opacity: 1;
    }

}

.rigs-viewport-highlight {
    border-radius: 8px;
    box-shadow: 0 0 3px 6px brown;
    transition: box-shadow .5s;
}

.rigs-scrolltab-highlight {
    border-radius: 8px;
    animation: rigs-scrolltab-easein .5s;
    opacity:0.7;
    box-shadow:-3px -3px 3px 3px brown;
}

@keyframes rigs-scrolltab-easein {

    0% {
        opacity:0;
        box-shadow: 0 0 0 0 transparent;
    }
    100%  { 
        opacity:0.7;
        box-shadow:-3px -3px 3px 3px brown;
    }

}
