/*rigs.css*/
:root {
    --rigs-highlight-source: darkorange;
    --rigs-highlight-target: black;
    --rigs-highlight-dropped: darkorange;
    --rigs-highlight-scrolltab: brown;
    --rigs-highlight-scrollercandrop:red;
}

.rigs-source-highlight {
    box-shadow: 0px 0px 6px 6px var(--rigs-highlight-source);
    border-radius: 8px;
}

.rigs-target-highlight {
    box-shadow: 0 0 0 6px var(--rigs-highlight-target);
    border-radius: 8px;
    opacity: 0.3;
}

.rigs-dropped-highlight {

    border-radius: 8px;
    animation: rigs-dropped-release 1s;
}

@keyframes rigs-dropped-release {

    20% {box-shadow: 0 0 6px 6px var(--rigs-highlight-dropped);}

    50% {box-shadow: 0 0 6px 6px transparent;}

}

.rigs-target-finish {
    border-radius: 8px;
    animation: rigs-target-fade .5s;
}

@keyframes rigs-target-fade {

    0%  { 
        box-shadow: 0 0 0 6px var(--rigs-highlight-target);
        opacity: 0.3;
    }

    100% {
        box-shadow: 0 0 0 0 transparent;
        opacity: 1;
    }

}

.rigs-viewport-highlight {
    border-radius: 8px;
    box-shadow: 0 0 3px 6px var(--rigs-highlight-scrolltab);
    transition: box-shadow .5s;
}

.rigs-viewport-candrop {
    border-radius: 8px;
    box-shadow: 0 0 3px 6px var(--rigs-highlight-scrollercandrop);
    transition: box-shadow .5s;
}

.rigs-scrolltab-highlight-top {
    border-radius: 8px;
    animation: rigs-scrolltab-easein-top .5s;
    opacity:0.7;
    box-shadow:-3px 3px 3px 3px var(--rigs-highlight-scrolltab);
}

@keyframes rigs-scrolltab-easein-top {

    0% {
        opacity:0;
        box-shadow: 0 0 0 0 transparent;
    }
    100%  { 
        opacity:0.7;
        box-shadow:-3px 3px 3px 3px var(--rigs-highlight-scrolltab);
    }

}

.rigs-scrolltab-highlight-bottom {
    border-radius: 8px;
    animation: rigs-scrolltab-easein-bottom .5s;
    opacity:0.7;
    box-shadow:-3px -3px 3px 3px var(--rigs-highlight-scrolltab);
}

@keyframes rigs-scrolltab-easein-bottom {

    0% {
        opacity:0;
        box-shadow: 0 0 0 0 transparent;
    }
    100%  { 
        opacity:0.7;
        box-shadow:-3px -3px 3px 3px var(--rigs-highlight-scrolltab);
    }

}

.rigs-scrolltab-highlight-left {
    border-radius: 8px;
    animation: rigs-scrolltab-easein-left .5s;
    opacity:0.7;
    box-shadow:3px -3px 3px 3px var(--rigs-highlight-scrolltab);
}

@keyframes rigs-scrolltab-easein-left {

    0% {
        opacity:0;
        box-shadow: 0 0 0 0 transparent;
    }
    100%  { 
        opacity:0.7;
        box-shadow:3px -3px 3px 3px var(--rigs-highlight-scrolltab);
    }

}
